@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="btn-group dropdown" data-aos="zoom-in" data-aos-duration="1500">
            <button type="button" class="btn btn-outline-dark">@User.Identity.GetUserName()</button>
            <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu bg-transparent" style="height:0px; border:none;">
                @Html.ActionLink("Details", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="btn btn-sm btn-outline-info" })
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-outline-danger" >Log Off</a>
            </div>
        </div>



    }
}
else
{
    <ul class="nav navbar-nav navbar-right form-inline">
        <li>@Html.ActionLink("SignIn", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })&nbsp; <i class="fas fa-sign-in-alt"></i></li>
    </ul>
}
