
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Game", FormMethod.Post))
{
<div class="card w-75 m-auto shadow">
    <div class="card-header text-center">
        <h4>Pin</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 w-100">
                <div class="form-group">
                    <h4>Enter pin here</h4>
                    @Html.TextBox("pin", null, new { @class = "form-control" })
                </div>
                <div>
                    <h5 class="text-danger">
                        If you don't enter correct pin you will redirect to this page.
                    </h5>
                </div>
            </div>
            <div class="col-md-4 w-100 h-100 m-auto" style="font-size:22px;">
                <i class="fas fa-keyboard fa-10x"></i>
            </div>
        </div>
        <hr />
        <p class="btn btn-link text-center btn-block">
            <div class="form-group">
                <div>
                    <input type="submit" value="Enter" class="btn btn-outline-success w-100" />
                </div>
            </div>
        </p>
    </div>
</div>
}
