
@{
    ViewBag.Title = "UserEnd";
}

<div class="card w-75 m-auto shadow">
    <div class="card-header">
        <center>
            <h2>
                Quiz is Over
            </h2>
        </center>
    </div>
    <div class="card-body">
        <div id="over">
            <center>
                <h1>
                    See Result on main Screen
                </h1>
            </center>
        </div>
        <hr />
        <p class="btn btn-link text-center btn-block">
            <div class="form-group">
                <div>
                    <input type="button" onclick='window.location="/game"' value="Home" class="btn btn-outline-success w-100" />
                </div>
            </div>
        </p>
    </div>
</div>

