
@{
    ViewBag.Title = "OnePlayerEnd";
}

<div class="card">
    <div class="card-header">
        Quiz Ended
        <hr />
        Your Total Score: @ViewBag.tscore
    </div>
    <div class="card-body">
        @{
            int i = 0;
        }
        @foreach (int ib in ViewBag.anslist)
        {
            i++;
            if (ib == 0)
            {
                <p class="alert alert-danger">Question @i: was answered Incorrectely</p>
            }
            else
            {
                <p class="alert alert-success">Question @i: was answered Correctely</p>
            }
            <br />
        }
    </div>
</div>