
@{
    ViewBag.Title = "OneQuestion";
}

    <div class="card text-capitalize text-center shadow-lg">
        @if (ViewBag.isValid)
        {
            <div class="alert alert-danger display-4">
                Quiz is empty.
            </div>
        }
        else
        {
            Live_Quiz.Models.Question que = ViewBag.cquestion;
            <div class="card-header">
                <h3>Quiz: @ViewBag.quiz.Name</h3>
                <h6>Question: @que.Description</h6>
            </div>
            <div class="card-body">

            </div>
        }
    </div>