
@{
    ViewBag.Title = "AddAnother";
}


@using (Html.BeginForm())
{
<div class="card card-body shadow-lg m-auto w-50 text-capitalize text-justify">

    <button type="submit" value="create" name="create" class="btn btn-outline-secondary w-25 m-auto">Create<br /><i class="fas fa-plus fa-4x  rotate180"></i></button>
    <hr />
    <button type="submit" value="AddAnother" name="AddAnother" class="btn btn-outline-primary w-25 m-auto">Create Question<br /><i class="fas fa-plus fa-4x rotate180"></i></button>
    <hr />
    <button type="submit" value="QuestionBank" name="QuestionBank" class="btn btn-outline-primary w-25 m-auto">Add From Question Bank<br /><i class="fas fa-plus fa-4x rotate180"></i></button>

</div>
}

